html, body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: 'Mohave', sans-serif;

}


.main-bar-box {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bar {
  width: 96%;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
  height: 80px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 130px;
}

.menu-bar {
  display: flex;
}


.item {
  list-style-type: none;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: bold;
}

.item a {
  text-decoration: none;
  color: black;
}

.item a:hover {
  transition: 0.5s;
  color: burlywood;
}


.icon-bar {
  width: 180px;
  height: 50px;
  margin: 0;
  position: relative;
}

.icon-bar-inner {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.icon-card {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-card2 {
  width: 50px;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.icon-card2-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.icon-card2 span {
  width: 20px;
  height: 2px;
  background: black;
  border-radius: 3px;
}

.icon-card2 span+span {
  width: 20px;
  height: 2px;
  background: black;
  border-radius: 3px;
  margin-top: 5px;
}

.icon-card2-inner:hover {
  background: #eee;
}

.sns-bar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
}

.sns-bar-inner {
  width: 98%;
  height: 50px;
  background: rgb(0, 0, 0);
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sns-bar-inner-ul {
  width: 400px;
  height: 40px;
  display: flex;
  justify-content: flex-start;

}

.sns-box {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #ffffff1a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.sns-box:hover {
  transition: 0.5s;
  background: #ba9255;
}

.sns-bar-inner-ul1 {
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

.sns-box-nav {
  width: 100px;
  background: #ffffff1a;
  color: white;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-box-nav:hover {
  transition: 0.5s;
  background: #ba9255;
}

.sns-box-nav a {
  color: white;
  text-decoration: none;
}

.sns-box1 {
  width: 100%;
  background: #ffffff1a;
  color: white;
  position: relative;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-box1:hover {
  transition: 0.5s;
  background: #ba9255;
}

.sns-box1 a {
  color: white;
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 550px;
}

.banner-inner {
  width: 100%;
  height: 310px;
  padding: 120px 0px;
}

.banner-text {
  width: 100%;
  height: 310px;
  position: relative;
  display: flex;
  justify-content: center;
}

.container {
  width: 80%;
  height: 310px;
  display: flex;
  justify-content: center;
}

.container-text {
  width: 660px;
  height: 310px;
}

.container-photo {
  width: 45%;
  height: 310px;
}

.container-text-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.container-text-list a {
  color: #686a6f;
  font-size: 20px;
  text-decoration: none;

}

.container-text-list li {
  position: relative;
}

.container-text-list li+li {
  margin-left: 15px;
  padding-left: 15px;
  margin-top: 0;
}

.container-text-list li+li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 16px;
  background-color: #686a6f;
}

.title {
  display: inline-block;
  width: 100%;
  height: 88px;
  font-size: 74px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0px;
}

.title span {
  margin: 0 6px;
}

.title-color {
  color: #ba9255;
}

.input-place {
  width: 700px;
  height: 50px;
  display: flex;
  z-index: 1;
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.3));
}

.input-place input {
  width: 55%;
  border: 0px solid transparent;
  padding: 30px;
  z-index: 5;
  margin-left: 30px;
}

.input-button-email {
  width: 30%;
  transition: 0.3s;
}

.input-button-email button:hover {
  box-shadow: inset 0 60px 0 0 #7e6239;
  transition: 0.8s;
}

.input-button-email button {
  width: 90%;
  height: 60px;
  border-radius: 30px;
  border: 0px solid transparent;
  background: #ba9255;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  z-index: 5;
  transition: 0.5s;
}

.input-button-email button::before {
  content: "";
  width: 80%;
  height: 100%;
  background: #ba9255;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}

.input-button-email button:hover::before {
  box-shadow: inset 0 60px 0 0 #7e6239;
  transition: 0.8s;
}

.container-photo-block {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.container-photo-block::before {
  content: "";
  width: 100px;
  height: 500px;
  background: rgb(245, 245, 245);
  position: absolute;
  top: -90px;
  right: -50px;
  z-index: 0;
  transform: skewY(-20deg);
}

.container-photo-block::after {
  content: "";
  width: 600px;
  height: 45px;
  background: rgb(245, 245, 245);
  position: absolute;
  top: 390px;
  right: -43px;
  z-index: 0;
  transform: skewX(-20deg);
}

.container-photo-block img {
  z-index: 2;
  position: absolute;
}

/*about -------------------------*/
.about-banner {
  width: 100%;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-banner-inner {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-left {
  width: 100%;
  height: 75%;
  position: relative;
}

.about-left-p1 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  animation: aboutleft 3s ease-in-out infinite;

}

@keyframes aboutleft {
  0% {
    top: -1%;
  }

  50% {
    top: 1%;
  }

  100% {
    top: -1%;
  }
}

.about-left-p1 img {
  width: 100%;
  height: 100%;

}

.p1-card {
  width: 300px;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1rem;
}

.p1-card h1 {
  font-size: 5rem;
  margin: 0;
  font-weight: bold;
  margin-left: 2rem;
}

.p1-card p {
  margin-left: 3rem;
  font-weight: bold;
  font-size: 20px;
}

.about-left-p2 {
  height: 200px;
  position: absolute;
  bottom: 0;
  border: 20px solid #fff;
  object-fit: cover;
  border-left: none;
  border-bottom: none;
  margin-left: 1rem;
  animation: aboutright 3s ease-in-out infinite;
}

@keyframes aboutright {
  0% {
    bottom: -1%;
  }

  50% {
    bottom: 1%;
  }

  100% {
    bottom: -1%;
  }
}

.about-right {
  width: 100%;
  height: 75%;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 20px;
}

.about-right p {
  margin: 0;
  padding: 0;
}

.chousei {
  display: flex;
  font-size: 72px;
  margin: 0;
  padding: 0;
}

.blog-banner {
  width: 100%;
  height: 740px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 70px;
}

.blog-banner-inner {
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: center;

}

.blog-title {
  width: 100%;
  height: 25%;
}

.blog-board {
  width: 100%;
  height: 75%;
}

.blog-card {
  width: 32%;
  height: 100%;
  position: relative;
}

.blog-image-box {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.blog-image-box img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.blog-card-text {
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  background: white;
  border: 1px solid lightgray;
  border-top: none;
}

.blog-card-text a:hover {
  transition: 0.5s;
  color: #7e6239;
}

.month-box {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 380px;
  right: 40px;
}

.month-box-outside a:hover {
  transition: 0.5s;
  background: #7e6239;
}

.services-banner {
  width: 100%;
  height: 1105px;
  padding-top: 100px;
  padding-bottom: 70px;
}

.services-banner-inner {
  width: 75%;
  height: 100%;
}

.ser-card {
  width: 32%;
  height: 40%;
  position: relative;
  background: black;
}

.ser-card:hover {
  filter: drop-shadow(0 3px 0 #ba9255);
  transition: 0.3s;
  position: relative;
  top: -4px;
}

.ser-card:hover >.ser-image-box{
  filter: opacity(0.4);
  transition: 0.5s;
}

.ser-card:hover > .ser-card-text > p{
  color: #7e6239;
  transition: 0.3s;
}

.ser-image-box {
  width: 100%;
  height: 65%;
  position: absolute;
  top: 0;
  overflow: hidden;
}

.ser-card-text {
  width: 100%;
  height: 35%;
  position: absolute;
  bottom: 0;
  background: wheat;
}
/*coffee-banner-------------------------------------*/
.coffee-banner {
  width: 100%;
  height: 550px;
}

.coffee-banner-inner{
  width: 75%;
  height: 100%;
}
.coffee-board{
  width: 100%;
  height: 100%;
}
.coffee-detail{
  width: 40%;
  height: 100%;
  padding: 12px;
}

.coffee-detail-inner{
  width: 100%;
  height: 70%;
  background:#ba9255;
  padding: 40px 40px;
}

.coffee-text-icon{
  width: 25%;
}
.coffee-text-text{
  width: 75%;
}
.coffee-img-board{
  width: 60%;
  height: 100%;
  padding: 12px;
  position: relative;
}

.coffee-img-big{
  position: absolute;
  top: 70px;
  right: 120px;
  animation: img-big 3s ease-in-out infinite;
}
.coffee-img-big img{
  transform: scale(1.1);
}
@keyframes img-big {
25%{
  top:67px;
}
75%{
  top: 73px;
}
100%{
  top: 70px;
}
}

.coffee-img-small{
  position: absolute;
  bottom: 50px;
  left: 100px;
  animation: img-small 3s ease-in-out infinite;
}

@keyframes img-small {
  25%{
    left: 97px;
  }
  75%{
    left: 103px;
  }
  100%{
    left: 100px;
  }
  }


/* team-------------------------- */
.team-banner {
  width: 100%;
  height: 750px;
  background: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 70px;
}

.team-banner-inner{
  width: 75%;
  height: 100%;
}

.team-title-banner{
height: 25%;
width: 100%;
}
.team-card-banner{
  height: 75%;
  width: 100%;
  }

.team-card{
  width: 25%;
height: 75%;
padding: 12px;
position: relative;
}

.team-card-img01{
background: wheat;
height: 75%;
width: 100%;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
.team-card-img01 img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: 0.3s;
}

.team-card-img02{
  background: wheat;
  height: 75%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  }
  .team-card-img02 img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 0.3s;
  }

  .team-card-img03{
    background: wheat;
    height: 75%;
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    }
    .team-card-img03 img{
      width: 100%;
      height: 100%;
      border-radius: 5px;
      transition: 0.3s;
    }

    .team-card-img04{
      background: wheat;
      height: 75%;
      width: 100%;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      }
      .team-card-img04 img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
        transition: 0.3s;
      }


#team-img img:hover{
  transform: scale(1.1);
}

.team-card-text-box{
height: 40%;
width:100%;
position: relative;
top: -50px;
display: flex;
justify-content: center;
transition: 0.3s;
}


.team-card-text{
  height: 100%;
  width: 85%;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 3px rgba(65, 65, 65, 0.3);
}
.team-card-text-name{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card-text-name h1:hover{
  color: #ba9255;
  cursor: pointer;
}
.team-card-text-name p:hover{
  color: #ba9255;
  cursor: pointer;
}

.team-card-text-icon {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  transition: 0.3s;
}

.team-sns-box{
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50% ;
  transition: 0.3s;
}

.team-sns-box:hover{
  cursor: pointer;
  background: #ba9255;
  transition: 0.3s;

}
.team-sns-box:hover > a >i{
  color: white !important;
  transition: 0.3s;
}

.hire-banner {
  width: 100%;
  height: 290px;
}

.hire-banner-inner{
  width: 70%;
  height: 40%;
  border-radius: 25px;
  box-shadow: 0 0 3px 5px rgba(0,0,0,4%);
}

.hire-left-box{
  width: 20%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  animation: hire-tapioka 3s ease-in-out infinite;
}
@keyframes hire-tapioka {
  0% {
    left: -0.5%;
  }

  50% {
    left: 0.5%;
  }

  100% {
    left: -0.5%;
  }
}

.hire-right-box{
  width: 80%;
  height: 100%;
  transition: 0.5s;
}
.hire-right-box .btn-coffee:hover{
  box-shadow:inset 0 60px 0 0 #7e6239;
  transition: 0.5s;
}

.testimonail-banner {
  width: 100%;
  height: 800px;
}
.testimonail-banner-inner{
  width: 75%;
  height: 100%;
}

.testimonail-box{
  border:2px solid rgba(161, 161, 161, 0.5);
  width: 60%;
  height: 25%;
  border-radius: 10px;
}
.testimonail-box-left{
width: 20%;
height: 50%;
}

.testimonail-box-left img{
  border-radius: 50%;
}
.testimonail-box-right{
  width: 80%;
  height: 100%;
}
.testimonail-box-right-top{
  height: 20%;
  margin-top: 30px;
}

.study-banner {
  width: 100%;
  height: 680px;
  background: #f8f8f8;
  padding: 100px 0;
}

.study-banner-inner {
  width: 100%;
  height: 582px;
  display: flex;
  justify-content: center;
}

.study-position {
  width: 70%;
  height: 100%;
  padding: 0 12px;
  position: relative;
}

.study-title {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
}

.study-title-subtitle {
  letter-spacing: 1px;
  color: #ba9255;
  font-size: 20px;
  margin-bottom: 10px;
}

.study-title-title {
  display: flex;
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: bold;
}

.study-title-title-case {
  color: #ba9255;
  margin: 0 20px;
}

.study-text-container {
  width: 100%;
  height: 510px;
  margin-top: 30px;
  display: flex;
}

.study-text-container-text {
  width: 40%;
  height: 510px;
  padding: 0 12px;
}

.text-board {
  width: 100%;
  height: 445px;
  padding-top: 65px;
}

.text-board-subtitle {
  color: #ba9255;
  font-size: 20px;
  text-decoration: none;
}
.text-board-subtitle:hover{
  color: #7e6239;
  transition: 0.8s;
}
.text-board-title {
  font-size: 28px;
  font-weight: bold;
  color: #3a3d43;
  text-decoration: none;
}

.text-board p {
  letter-spacing: 1px;
  margin-top: 18px;
  margin-bottom: 0;
  padding-top: 18px;
  font-size: 18px;
  border-top: 1px solid #ccc;
  color: #686a6f;
}

.study-text-container-img {
  width: 100%;
  height: 510px;
  margin: 0 12px;
  overflow: hidden;
}

.study-btn{
  position: absolute;
  top: 420px;
  right: 80px;
  transition: 0.8s;
}

.study-btn:hover{
  box-shadow:inset 0 60px 0 0 #7e6239;
}

.swiper-wrapper:hover{
cursor: pointer !important;
}

.swiper-button-next{
  position: absolute;
  top:400px;
  left: 75px;
  background: #ba9255;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #7e6239;
  transition: 0.5s;
}
.swiper-button-next::after{
  font-size: 24px !important;
}
.swiper-button-next:hover{
  background: #7e6239;
  color: white;
  transition: 0.5s;
}
.swiper-button-prev{
  position: absolute;
  top: 400px;
  left: 0px;
  background: #ba9255;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #7e6239;
  transition: 0.5s;
}
.swiper-button-prev::after{
  font-size: 24px !important;
}
.swiper-button-prev:hover{
  background: #7e6239;
  color: white;
  transition: 0.5s;
}
.slide-button {
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  left: 12px;
  bottom: 0px;
}

.slide-left {
  width: 50px;
  height: 50px;
  background: #ba9255;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-right {
  width: 50px;
  height: 50px;
  background: #ba9255;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-banner {
  width: 100%;
  height: 400px;
  padding-top: 100px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-banner-inner {
  width: 100%;
  height: 235px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  justify-content: center;

}

.info-position {
  width: 70%;
  height: 100%;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  justify-content: space-between;
}

.info-detail1 {
  width: 355px;
  height: 205px;
  border: 1px solid #999b9f;
  padding: 0 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.8s;
  margin-right: 20px;
}

.info-detail2 {
  width: 355px;
  height: 205px;
  border: 1px solid #999b9f;
  padding: 0 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.8s;
  margin-right: 20px;
}

.info-detail3 {
  width: 355px;
  height: 205px;
  border: 1px solid #999b9f;
  padding: 0 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.8s;
}

.info-detail-position1 {
  width: 354px;
  height: 55px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-detail-position1 p {
  margin: 0;
}

.sns-box2-1 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-box2-2 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sns-box2-3 {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-black {
  font-size: 24px;
  font-weight: bold;
}

.font-gray {
  font-size: 18px;
  color: #686a6f;
  letter-spacing: 1px;
}

.info-detail-position2 {
  width: 354px;
  height: 55px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-detail-position2 p {
  margin: 0;
}

.arrow-icon-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222429;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon-2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222429;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-icon-3 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222429;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-banner {
  width: 100%;
  height: 500px;
  background: #222429;
  padding: 80px 0 0;

}

.footer-banner-inner-middle {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.middle-container {
  width: 70%;
  height: 100%;
}

.middle-img {
  width: 100%;
  height: 95px;
}

.middle-info {
  width: 100%;
  height: 205px;
  display: flex;
}

.width-55 {
  width: 55%;
  height: 205px;
  font-size: 18px;
  color: #999b9f;
  letter-spacing: 1px;
}

.width-15 {
  width: 15%;
  height: 205px;
  font-size: 18px;
  letter-spacing: 1px;
  list-style-type: none;
}

.width-15 li {
  margin-top: 18px;
}

.width-15 a {
  text-decoration: none;
  color: #999b9f;
  transition: 0.5s;
}

.width-15 a:hover {
  color: white;
}


.middle-sns {
  width: 100%;
  height: 50px;

}

.middle-sns-inner {
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.sns-box1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-banner-inner-bottom {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
}

.footer-position {
  width: 70%;
  height: 150px;
  border-top: 1px solid #999b9f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
}